body {
    display: flex;
    flex-direction: column;
    font-family: cursive;
}

header {
    display: flex;
    width: 100%;
    align-items: center;
    padding-left: 20px;
    height: 50px;
    color: white;
    background-color: black;
}

main {
    display: flex;
}

.left_column {
    display: flex;
    flex-direction: column;
    flex: 1;
    border: 2px;
    border-style: solid;
    margin-top: 25px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#profile_pic {
    height: 200px;
    width: 200px;
}

.right_column {
    display: flex;
    flex: 4;
    flex-direction: column;
}
.user_card {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 25px;
    border: 2px black;
    border-style: solid;
    padding: 10px;
}

.user_card_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn_like {
    padding: 5px 20px;
    border: 2px;
    border-color: black;
    background-color: goldenrod;
    box-shadow: 2px 2px black;
}

.btn_like:active {
    background-color: gold;
    box-shadow: none;
}