h1{
    text-align: left;
    color: white;
    font-family: cursive;
    background-color: black;
}
h3{
    text-align: center;
    color: white;
    font-family: sans-serif;
    background-color: rebeccapurple;
    font-style: italic;
}
h5{
    text-align: right;
    background-color: aqua;
}
span {
    color: cyan;
}